.items{
    margin-bottom: 20px;
}
.panel
{
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-block{
    width: auto;
    height: 40px;
    text-decoration: none;
    padding: 10px  15px;
}

.btn-block:hover, .btn-block:focus
{
    text-decoration: none;
}

div.panel-heading {
    padding: 0;
}

h4
{
    word-wrap:break-word;
}

.inner
{
    margin-bottom: 15px;
}

.top-row
{
    margin-bottom: 10px;
}

.td-row
{
    text-align: center;
    vertical-align: middle;
}

.td-input {
    text-align: center;
    line-height: 10px;
    width: 100px;
}
th{
    text-align: center;
}