<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Projects</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
	            <#if project??>
                <p class="navbar-text">${project}</p>
	            </#if>
            </ul>
        </div>
    </div>
</div>